<!DOCTYPE html>
<html lang="en">
{% load  static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
{#    <script src="{% static 'js/main.js' %}"></script> <!-- This is how to include a static file -->#}
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />#}

</head>
<body>
<div>
    <center>
        <h3>آموزشگاه فنی و حرفه ای</h3>
        <h1>کندو</h1>
        <h6>به زودی ...</h6>
    </center>
</div>

</body>
</html>