{% extends 'base.html' %}
<h1>Login</h1>
{% block content %}
<form method="POST" novalidate>
        {% csrf_token %}
        <h2>Login</h2>
        {{form.as_p}}
        <input type="submit" value="Login" />
</form>
{% endblock content %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Login</title>#}
{#    <link rel="stylesheet" href="styles.css">#}
{#    <script src="/users/js/users.js" defer></script>#}
{#</head>#}
{#<body>#}
{##}
{##}
{#    <div class="container">#}
{#        <div class="card center spacer">#}
{#            <h1 class="title text-center">Login With</h1>#}
{#            <div class="social-login">#}
{#                <button class="social-btn">#}
{#                    <img class="icon" src="/users/icons/gmail.svg" alt="gmail icon">#}
{#                    Gmail#}
{#                </button>#}
{#                <button class="social-btn">#}
{#                    <img class="icon" src="/users/icons/facebook.svg" alt="gmail icon">#}
{#                    Facebook#}
{#                </button>#}
{#            </div>#}
{#            <div class="text-center line form-divider">or</div>#}
{#    <form method="get" class="login-form spacer" id="signup-form">#}
{#                    <div class="input-group">#}
{#                        <img class="icon input-icon" src="/users/icons/profile-user.svg" alt="">#}
{#                        <input required name="username" id="username" type="text" class="form-input" placeholder="john doe" maxlength="16" minlength="6">#}
{#                    </div>#}
{#                    <div class="input-group">#}
{#                        <img class="icon input-icon" src="/users/icons/envelope.png" alt="">#}
{#                        <input required name="email" id="email" type="email" class="form-input" placeholder="johndoe@mail.com">#}
{#                    </div>#}
{#                    <div class="input-group">#}
{#                        <img class="icon input-icon" src="/users/icons/key.svg" alt="">#}
{#                        <input required name="password1" id="password1" type="password" class="form-input" placeholder="password" maxlength="22" minlength="8">#}
{#                    </div>#}
{#                    <div class="input-group">#}
{#                        <img class="icon input-icon" src="/users/icons/key.svg" alt="">#}
{#                        <input required name="password2" id="password2" type="password" class="form-input" placeholder=" confirm password" maxlength="22" minlength="8">#}
{#                    </div>#}
{#                    <input type="submit" class="submit" value="Signup">#}
{#                </form>#}
{##}
{#        </div>#}
{##}
{##}
{#    </div>#}
{##}
{#    <div class="redirect">#}
{#        Don't have an account?&nbsp;<a href="signup.html" class="link">Signup</a>#}
{#        <br><br>#}
{#        <a href="forget-password.html" class="link">Forgot password?</a>#}
{#    </div>#}
{##}
{##}
{#</body>#}
{#</html>#}
